## Root directory files/folders
.git
.husky
.vscode
node_modules
.dockerignore
.editorconfig
.lintstagedrc.mjs
.npmrc
.nvmrc
.prettierignore
.prettierrc.yaml
commitlint.config.js
.terraform

## Deep glob exclude
**/Dockerfile
